---
import InputScreen from "../components/InputScreen";
---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TikTok & Douyin Video Downloader</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <main>
    <InputScreen />
  </main>
</body>
</html>
